github "sparkle-project/Sparkle" ~> 1.18
github "Hearst-DD/ObjectMapper" ~> 3.1
github "Moya/Moya" ~> 11.0
github "ReactiveX/RxSwift" ~> 4.1
github "samscam/ProgressKit" "master"
github "Quick/Quick"
github "Quick/Nimble"

binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/macOS/Fabric.json"
binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/macOS/Crashlytics.json"
